<h2 style="text-align:center">Actividades de: </h2>

<div class="container">
  <div class="row">
    <label for="actividad-titulo">Titulo de la Propuesta: </label>
    <input id="actividad-titulo" [(ngModel)]="propuestaActual.titulo" name="titulo" placeholder="titulddo"  type="text">
      <h3> Descripción de la Actividad</h3>
        <input id="actividad-descripcion" [(ngModel)]="propuestaActual.descripcion" name="descripcion" placeholder="descripcion">
      <h3> Imagén de la Actividad</h3>
      <br>
      <input id="actividad-imagen" [(ngModel)]="propuestaActual.imagen" name="imagen" placeholder="imagen">
      <img class="imagen" src={{propuestaActual.imagen}} alt>
  </div>
  
  <form class="form" ngForm="form2" #form2>
    <p id="heading">Detalles de la Propuesta: {{ propuestaActual.titulo }}</p>
    <p id="heading">Titulo de la Propuesta</p>
    <div class="field">
      <input id="actividad-titulo" type="text" name="titulo" class="input-field" placeholder="" [(ngModel)]="propuestaActual.titulo"  autocomplete="off">
    </div>
    <p id="heading">Descripción de la Propuesta</p>
    <div class="field">
      <input id="actividad-descripcion" type="text" name="descripcion" class="input-field" placeholder="Descripción" [(ngModel)]="propuestaActual.descripcion"  autocomplete="off">
    </div>
    <p id="heading">Imagén de la Propuesta</p>
    <div class="field">
      <input id="actividad-imagen" type="text" name="imagen" class="input-field" placeholder="Imagén" [(ngModel)]="propuestaActual.imagen"  autocomplete="off">
    </div>
  </form>

  <br>
  <h2 style="text-align:center">Actividades de: {{ propuestaActual.titulo }}</h2>
  <br>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <ul class="Actividades">
        <li *ngFor="let actividad of actividades">
          <button class="button-list" (click)="onSelect(actividad)"
            [class.selected]="actividad === actividadSeleccionada">
            <span class="tituloActividad">
              {{actividad.titulo}}
            </span>
          </button>
          <button (click)="retirarDeLista(actividad._id)">
            Eliminar
          </button>
        </li>
      </ul>
    </div>
    <div class="col">
      <app-actividad [actividad]="actividadSeleccionada"></app-actividad>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <button (click)="toggleFormulario()">Agregar Actividad Existente</button>
    
    
    <div class="row">
      <div *ngIf="mostrarform">
        <h2 style="text-align:center">Actividades existentes</h2>
      </div>
      
      <div class="col">
        <div *ngIf="mostrarform">
          
          <div class="item-list">
            <ul>
              <li *ngFor="let actividad of actividadesExistentes">
                <button class="button-list" (click)="onSelect2(actividad)"
            [class.selected]="actividad === actividadSeleccionada2">
            <span class="tituloActividad">
              {{actividad.titulo}}
            </span>
          </button>
                <button (click)="agregarALista(actividad)">+</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <app-actividad [actividad]="actividadSeleccionada2"></app-actividad>
      </div>
    </div>  
  </div>
  
</div>
<br>

<div>
  <button (click)="guardarCambios()">Guardar</button>   
  <button routerLink="/inicio">Volver al Inicio</button>
</div>




<div class="container" *ngIf="mostrarform">
  <div class="card">
      <div class="card2">

          <form class="form">

              <p id="heading">¡Crear Propuesta!</p>

              <div class="field">
                  <svg viewBox="0 0 16 16" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg" class="input-icon"></svg>
                  <input type="text" class="input-field input1"  id="titulo" name="titulo" [(ngModel)]="titulo" required placeholder="Titulo">
              </div>

              <div class="field">
                  <svg viewBox="0 0 16 16" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg" class="input-icon"></svg>
                  <input id="descripcion" class="input-field input2" name="descripcion" [(ngModel)]="descripcion" required placeholder="Descripcion">
              </div>

              <div>
                  <div>
                  <ul>
                      <li *ngFor="let actividad of actividades">{{ actividad }}</li>
                  </ul>
                  </div>
              </div>

              <div class="btn">

                  <button type="submit" class="button2" >Crear Propuesta</button>

              </div>

          </form>
      </div>
  </div>

  <div class="container">
      <div class="card3">
          <div class="card4">
              
              <div class="actividades">

                 <!--  <p class="uno">Tus Actividades</p>

                  <div *ngFor="let actividad of lista" class="actividad-item">
                      <p class="dos">{{actividad.titulo}}</p>
                      <button class="button2" ">Subir</button>
                  </div>
 -->
              </div>

          </div>
      </div>
  </div>

</div>

<!-- <button (click)="toggleFormulario()">Crear Nueva Actividad</button>
    
    <div *ngIf="mostrarform">
      <form (ngSubmit)="onSubmit(actividadForm)" #actividadForm="ngForm">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control" id="titulo"
            required
            [(ngModel)]="titulo" name="titulo">
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input type="text" class="form-control" id="descripcion"
            [(ngModel)]="descripcion" name="descripcion">
        </div>
        <div class="form-group">
          <label for="imagen">Imagén</label>
          <input type="text" class="form-control" id="imagen"
            [(ngModel)]="imagen" name="imagen">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
 -->
