

.btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    color: rgb(255, 255, 255);
}
  
.button1:hover {
    background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
    color: rgb(0, 255, 200);
}

p{
    color: white;
}


h1{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color:white;

    height: 15%;
  text-align: center;
  font-size: 34px;
  letter-spacing: 3px;
  font-weight: 600;
  text-shadow: -1px -1px 3px #2CE0B4  ,
              1px 1px 3px #2CE0B4 ;
  position: relative;
  top: -14px;
}

#datos_sala{
    display: flex;
    justify-content: center;
}


.jugadores-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px; /* Optional: Add some margin between rows */
}

.jugadores{
    margin-left: 10px;
    margin-bottom: 10px;

    height: 15%;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 600;
    text-shadow: -1px -1px 3px #2CE0B4  ,
                1px 1px 3px #2CE0B4 ;
    position: relative;
    top: -14px;
}

.uno{
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;

    height: 15%;
    text-align: center;
    font-size: 34px;
    letter-spacing: 3px;
    font-weight: 600;
    text-shadow: -1px -1px 3px #2CE0B4  ,
                1px 1px 3px #2CE0B4 ;
    position: relative;
    top: -14px;
}



/* Botón flotante */
.btn-flotante {
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	background-color: #1d2ad2; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	z-index: 99;

  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(255, 255, 255);
  transition: all 300ms ease 0ms;
  z-index: 99;
}

.btn-flotante:hover {
	background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
  color: rgb(0, 255, 200);
	transform: translateY(-7px);
}


#datos_sala {
    display: flex;
    justify-content: center;
    padding: 20px; /* Optional: Add padding to the container */
}

#datos_sala img {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%); /* Set the background color as needed */
    padding: 20px; /* Optional: Add padding to the image */
}





@media only screen and (max-width: 768px) {

    h1 {
        font-size: 24px;
    }

    .uno {
        flex-direction: column;
        height: auto;
    }

    .imagen img{
        width: 200px; 
        height: 200px;
    }

    .container2 {
        margin-top: 10px;
        height: 200px !important; /* Add !important to ensure priority */
        width: 200px !important;  /* Add !important to ensure priority */
        max-height: 200px !important;
    }

    .code {
        margin-left: 0; 
    }

    .mitad {
        text-align: center; 
    }


}