<div>
    <div id="datos_sala">
        <h1 id="code">Codigo del juego {{codigoSala}}</h1>
        <div *ngIf="qrCodeUrl">
            <img [src]="qrCodeUrl" alt="Código QR" />
          </div>
    </div>

    <div class="jugadores" *ngFor="let jugador of jugadores">
        <div><p>{{jugador.psudonimo}}</p></div>
    </div>


    <div class="container2  mitad">
        <div class="nombre-votantes">
            <p>Jugadores:</p>
        </div>
    </div>
    
</div>

<div class="btn" *ngIf="esAdmin">
    <button type="button" class="button1" (click)="iniciarJuego()">Iniciar Juego</button>
</div>
