<div *ngIf="actividad">
    <h2>{{actividad.nombre | uppercase}}</h2>
    <h3> Detalles de la Actividad del vehculo</h3>
    <div><span>id: </span>{{actividad.id}}</div>
    <div>
      <label for="actividad-nombre">Nombre del auto: </label>
      <input id="actividad-nombre" [(ngModel)]="actividad.nombre" placeholder="nombre">
      <h3> Descripción de la Actividad</h3>
      <p>{{ actividad.descripcion }}</p>
        <input id="actividad-descripcion" [(ngModel)]="actividad.descripcion" placeholder="descripcion">
      <h3> Imagén de la Actividad</h3>
      <br>
      <img class="imagen" src={{actividad.imagen}} alt>
    </div>
  </div>