<body>
    
    <div class = "contenedor">

        <div class="mb-3">
    
            <div class = "input">
                <label for="formGroupExampleInput" class="form-label">Código de la actividad</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
    
            <button type="submit" class="btn btn-primary">Submit</button>
    
        </div>
    
        <button routerLink="/inicioSesion"> Volver</button>
    </div>

</body>




