

.contenedor{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 100px auto;
    padding: 20px;
}

.input{

    margin-bottom: 10px;

}




