<h2 style="text-align:center">Actividades de: {{ propuestaActual.titulo }}</h2>

<div class="container">
  <div class="row">
    <label for="actividad-titulo">Titulo de la Propuesta: </label>
      <input id="actividad-titulo" [(ngModel)]="propuestaActual.titulo" placeholder="titulo">
      <h3> Descripción de la Actividad</h3>
        <input id="actividad-descripcion" [(ngModel)]="propuestaActual.descripcion" placeholder="descripcion">
      <h3> Imagén de la Actividad</h3>
      <br>
      <input id="actividad-imagen" [(ngModel)]="propuestaActual.imagen" placeholder="imagen">
      <img class="imagen" src={{propuestaActual.imagen}} alt>
  </div>
  

  <br>
  <h2 style="text-align:center">Actividades de: {{ propuestaActual.titulo }}</h2>
  <br>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <ul class="Actividades">
        <li *ngFor="let actividad of actividades">
          <button class="button-list" (click)="onSelect(actividad)"
            [class.selected]="actividad === actividadSeleccionada">
            <span class="tituloActividad">
              {{actividad.titulo}}
            </span>
          </button>
          <button (click)="retirarDeLista(actividad._id)">
            Eliminar
          </button>
        </li>
      </ul>
    </div>
    <div class="col">
      <app-actividad [actividad]="actividadSeleccionada"></app-actividad>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <button (click)="toggleFormulario()">Agregar Actividad Existente</button>
    
    
    <div *ngIf="mostrarform">
      <div class="item-list">
        <h2 style="text-align:center">Actividades existentes</h2>
        <ul>
          <li *ngFor="let actividad of actividadesExistentes">
            {{ actividad.titulo }}
            <button (click)="agregarALista(actividad)">+</button>
          </li>
        </ul>
      </div>
    </div>
    
      
      
    
  </div>
  
</div>
<br>

<div>
  <button (click)="guardarCambios()">Guardar</button>   
  <button routerLink="/inicio">Volver al Inicio</button>
</div>





<!-- <button (click)="toggleFormulario()">Crear Nueva Actividad</button>
    
    <div *ngIf="mostrarform">
      <form (ngSubmit)="onSubmit(actividadForm)" #actividadForm="ngForm">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control" id="titulo"
            required
            [(ngModel)]="titulo" name="titulo">
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input type="text" class="form-control" id="descripcion"
            [(ngModel)]="descripcion" name="descripcion">
        </div>
        <div class="form-group">
          <label for="imagen">Imagén</label>
          <input type="text" class="form-control" id="imagen"
            [(ngModel)]="imagen" name="imagen">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
 -->
