
h2{
  text-align: center;
  color:#ffffff;

  margin-top: 20px;

  height: 15%;
  text-align: center;
  font-size: 34px;
  letter-spacing: 3px;
  font-weight: 600;
  text-shadow: -1px -1px 3px #2CE0B4  ,
              1px 1px 3px #2CE0B4 ;
  position: relative;
  top: -14px;

}

/* Botón flotante */
.btn-flotante {
	color: #ffffff; 
	border-radius: 5px; 
	background-color: #1d2ad2; 
	padding: 18px 30px; 
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	z-index: 99;

  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(255, 255, 255);
  transition: all 300ms ease 0ms;
  z-index: 99;
}

.btn-flotante:hover {
	background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
  color: rgb(0, 255, 200);
	transform: translateY(-7px);
}


/* Cards */

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 230px;
  height: 284px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.card2 {
  width: 230px;
  height: 284px;
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: all .2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}


.card_content {

  color: #ffffff;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;

  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.btn {
  position: absolute;
  bottom: 10px;
  left: 112px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;

}

.title {
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}


.content {
  margin-top: -10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}


/* Botones */
.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(255, 255, 255);
}

.button1:hover {
  background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
  color: rgb(0, 255, 200);
}



